/config_CCO.json
/GerarExecutáve.bat
/nomes
/pdfs
/saidas
.vscode/settings.json
saida/faltas.sqlite
saida/faltas.csv
tmp_debug_extraction.py
__pycache__/ExtrairFaltasDosPDFs.cpython-314.pyc
.gitignore
__pycache__/app.cpython-314.pyc
.env
